USE [QuanTracLunCT]
GO
/****** Object:  Table [dbo].[CanhNghieng]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanhNghieng](
	[STT] [int] NULL,
	[MaCK] [uniqueidentifier] NULL,
	[DiemDau] [varchar](50) NULL,
	[DiemCuoi] [varchar](50) NULL,
	[CanhDo] [float] NULL,
	[ChieuDai] [float] NULL,
	[CanhBS] [float] NULL,
	[PhuongNghieng] [varchar](50) NULL,
	[msDivisionS] [varchar](50) NULL,
	[m_alpha] [float] NULL,
	[m] [float] NULL,
	[SHC] [float] NULL,
	[MaCanh] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuKy]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuKy](
	[TenCK] [nvarchar](50) NOT NULL,
	[ThoiGianDo] [date] NULL,
	[MaCT] [uniqueidentifier] NOT NULL,
	[MaCK] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongTrinh]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[TenCT] [nvarchar](50) NOT NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[MaCT] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiemNghieng]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemNghieng](
	[STT] [int] NULL,
	[TenDiem] [varchar](50) NOT NULL,
	[MaCK] [uniqueidentifier] NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[Mx] [float] NULL,
	[My] [float] NULL,
	[Mp] [float] NULL,
	[MaDiem] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DinhNghieng]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhNghieng](
	[STT] [int] NULL,
	[MaCK] [uniqueidentifier] NULL,
	[DinhTrai] [varchar](50) NULL,
	[DinhGiua] [varchar](50) NULL,
	[DinhPhai] [varchar](50) NULL,
	[GocDo] [nvarchar](50) NULL,
	[GocSauBS] [nvarchar](50) NULL,
	[SHC] [float] NULL,
	[MaDinh] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Moc]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moc](
	[TenMoc] [varchar](50) NOT NULL,
	[S] [float] NULL,
	[CaoDo_H] [float] NULL,
	[LunTuongDoi] [float] NULL,
	[LunTuyetDoi] [float] NULL,
	[LunTB] [float] NULL,
	[LunTBTong] [float] NULL,
	[LunMax] [float] NULL,
	[LunMin] [float] NULL,
	[KhongLunMax] [float] NULL,
	[KhongLunMin] [float] NULL,
	[LunTongCongMax] [float] NULL,
	[LunTongCongMin] [float] NULL,
	[TocDoLunTB] [float] NULL,
	[TocDoLunTBTong] [float] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[STT] [int] NULL,
	[LoaiMoc] [nvarchar](50) NULL,
	[MaMoc] [uniqueidentifier] NOT NULL,
	[MaCK] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MocNghieng]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MocNghieng](
	[STT] [int] NULL,
	[TenMocN] [varchar](50) NULL,
	[MaCK] [uniqueidentifier] NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[San] [int] NULL,
	[LoaiMoc] [varchar](50) NULL,
	[e] [float] NULL,
	[h] [float] NULL,
	[Epsilon] [float] NULL,
	[Alpha] [float] NULL,
	[Delta_X] [float] NULL,
	[Delta_Y] [float] NULL,
	[MaMocN] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMocN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuyenDo]    Script Date: 9/6/2020 1:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenDo](
	[TenTuyen] [nvarchar](50) NOT NULL,
	[DiemDau] [varchar](50) NULL,
	[DiemCuoi] [varchar](50) NULL,
	[STT] [int] NULL,
	[KhoangCach] [float] NULL,
	[SoMayTram] [int] NULL,
	[ChenhCao] [float] NULL,
	[LoaiMoc] [varchar](50) NULL,
	[SSTP] [float] NULL,
	[SHC] [float] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[DanhGia] [nvarchar](1) NULL,
	[MaTD] [uniqueidentifier] NOT NULL,
	[MaCK] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CanhNghieng] ([STT], [MaCK], [DiemDau], [DiemCuoi], [CanhDo], [ChieuDai], [CanhBS], [PhuongNghieng], [msDivisionS], [m_alpha], [m], [SHC], [MaCanh]) VALUES (2, NULL, N'A1', N'N4-6', 75.042, NULL, 75.042, N'237 31 26.2', N'1/18600', 4.4, 0.003, NULL, N'24fbad23-6f58-49ec-98fa-1a47a0adfb39')
INSERT [dbo].[CanhNghieng] ([STT], [MaCK], [DiemDau], [DiemCuoi], [CanhDo], [ChieuDai], [CanhBS], [PhuongNghieng], [msDivisionS], [m_alpha], [m], [SHC], [MaCanh]) VALUES (5, NULL, N'A2', N'N4-5', 59.428, 20.187, 59.428, N'359 13 08.9', N'1/25900', 4.4, 0.004, NULL, N'a88b0012-5710-471a-a295-2c942de4394a')
INSERT [dbo].[CanhNghieng] ([STT], [MaCK], [DiemDau], [DiemCuoi], [CanhDo], [ChieuDai], [CanhBS], [PhuongNghieng], [msDivisionS], [m_alpha], [m], [SHC], [MaCanh]) VALUES (4, NULL, N'A2', N'N4-4', 56.293, NULL, 56.293, N'272 35 34.2', N'1/19200', 4.4, 0.003, NULL, N'e26f85df-95ee-4c3f-9991-488866cff40c')
INSERT [dbo].[ChuKy] ([TenCK], [ThoiGianDo], [MaCT], [MaCK]) VALUES (N'Chu Kỳ 5', CAST(N'2018-01-17' AS Date), N'f155e5be-9364-4614-a106-b4d2cb8e8444', N'51b99f40-fa67-45ef-8bb0-18eab8980b7f')
INSERT [dbo].[ChuKy] ([TenCK], [ThoiGianDo], [MaCT], [MaCK]) VALUES (N'Chu Kỳ 9', CAST(N'2017-07-04' AS Date), N'f155e5be-9364-4614-a106-b4d2cb8e8444', N'20c1e9d4-a573-4fa2-ad15-3d2c68cf9589')
INSERT [dbo].[ChuKy] ([TenCK], [ThoiGianDo], [MaCT], [MaCK]) VALUES (N'Chu Kỳ 7', CAST(N'2017-03-20' AS Date), N'f155e5be-9364-4614-a106-b4d2cb8e8444', N'ebb79be1-7a03-4463-9fc0-3e80d9791b17')
INSERT [dbo].[CongTrinh] ([TenCT], [DiaDiem], [MaCT]) VALUES (N'ĐẠI HỌC VĂN LANG', N'Phường 5, Quận Gò Vấp, TP.HCM', N'f155e5be-9364-4614-a106-b4d2cb8e8444')
INSERT [dbo].[DiemNghieng] ([STT], [TenDiem], [MaCK], [X], [Y], [Mx], [My], [Mp], [MaDiem]) VALUES (4, N'A4', NULL, 1197445.396, 603476.138, 0.002, 0.003, 0.004, N'7b10979b-41db-411d-9e96-0f6c1f0fdc9d')
INSERT [dbo].[DiemNghieng] ([STT], [TenDiem], [MaCK], [X], [Y], [Mx], [My], [Mp], [MaDiem]) VALUES (3, N'A3', NULL, 1197443.925, 603659.499, 0.003, 0.003, 0.004, N'2675b1be-d1d6-4a5c-884a-a8070a57d80b')
INSERT [dbo].[DiemNghieng] ([STT], [TenDiem], [MaCK], [X], [Y], [Mx], [My], [Mp], [MaDiem]) VALUES (2, N'A2', NULL, 1197505.422, 603634.883, 0.004, 0.003, 0.005, N'322233f6-3504-4215-a86e-c344af91f02e')
INSERT [dbo].[DinhNghieng] ([STT], [MaCK], [DinhTrai], [DinhGiua], [DinhPhai], [GocDo], [GocSauBS], [SHC], [MaDinh]) VALUES (9, NULL, N'A5', N'VL02', N'GPS2', N'02 57 50.0', N'02 57 46.5', -3.5, N'da4b38b0-9373-45e9-b046-0375f49dc844')
INSERT [dbo].[DinhNghieng] ([STT], [MaCK], [DinhTrai], [DinhGiua], [DinhPhai], [GocDo], [GocSauBS], [SHC], [MaDinh]) VALUES (3, NULL, N'A1', N'A2', N'A3', N'224 56 22.0', N'224 56 19.8', -2.2, N'fd374f9f-d412-4680-94f6-05ed613c8fad')
INSERT [dbo].[DinhNghieng] ([STT], [MaCK], [DinhTrai], [DinhGiua], [DinhPhai], [GocDo], [GocSauBS], [SHC], [MaDinh]) VALUES (1, NULL, N'VL02', N'GPS2', N'A1', N'358 11 09.0', N'358 11 10.0', 1, N'44fc8905-8636-4ed2-9179-45169aae13b8')
INSERT [dbo].[Moc] ([TenMoc], [S], [CaoDo_H], [LunTuongDoi], [LunTuyetDoi], [LunTB], [LunTBTong], [LunMax], [LunMin], [KhongLunMax], [KhongLunMin], [LunTongCongMax], [LunTongCongMin], [TocDoLunTB], [TocDoLunTBTong], [GhiChu], [STT], [LoaiMoc], [MaMoc], [MaCK]) VALUES (N'M4', NULL, 3.21142, NULL, -7.89, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Mốc phục hồi', 4, N'MocQT', N'e212f0c1-e9ea-4398-93a4-03dfcab38f19', N'7a78d299-34b7-4ca9-ac05-42edd74b5cac')
INSERT [dbo].[Moc] ([TenMoc], [S], [CaoDo_H], [LunTuongDoi], [LunTuyetDoi], [LunTB], [LunTBTong], [LunMax], [LunMin], [KhongLunMax], [KhongLunMin], [LunTongCongMax], [LunTongCongMin], [TocDoLunTB], [TocDoLunTBTong], [GhiChu], [STT], [LoaiMoc], [MaMoc], [MaCK]) VALUES (N'M7', NULL, 3.38763, -0.27, -4.55, NULL, NULL, 0.08, -0.15, NULL, NULL, NULL, NULL, NULL, NULL, N'Ổn định', 7, N'MocQT', N'3ecada4e-c422-4d94-a08e-086b95dbad2f', N'7a78d299-34b7-4ca9-ac05-42edd74b5cac')
INSERT [dbo].[Moc] ([TenMoc], [S], [CaoDo_H], [LunTuongDoi], [LunTuyetDoi], [LunTB], [LunTBTong], [LunMax], [LunMin], [KhongLunMax], [KhongLunMin], [LunTongCongMax], [LunTongCongMin], [TocDoLunTB], [TocDoLunTBTong], [GhiChu], [STT], [LoaiMoc], [MaMoc], [MaCK]) VALUES (N'VL04', NULL, 2.04891, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Mốc không ổn định', 2, N'MocCS', N'1d5676c6-8216-4afe-a7ca-08aee7f0994d', N'7a78d299-34b7-4ca9-ac05-42edd74b5cac')
GO
INSERT [dbo].[MocNghieng] ([STT], [TenMocN], [MaCK], [X], [Y], [San], [LoaiMoc], [e], [h], [Epsilon], [Alpha], [Delta_X], [Delta_Y], [MaMocN]) VALUES (7, NULL, NULL, 1197481.036, 603526.573, NULL, N'MocCS', NULL, NULL, NULL, NULL, NULL, NULL, N'9127d5b2-6023-48a3-b13a-1600e232b911')
INSERT [dbo].[MocNghieng] ([STT], [TenMocN], [MaCK], [X], [Y], [San], [LoaiMoc], [e], [h], [Epsilon], [Alpha], [Delta_X], [Delta_Y], [MaMocN]) VALUES (8, N'N4-8', NULL, 1197486.046, 603543.171, 4, N'MocQT', NULL, NULL, NULL, NULL, NULL, NULL, N'4dea1fc9-9d28-4104-8d77-1badb4df9591')
INSERT [dbo].[MocNghieng] ([STT], [TenMocN], [MaCK], [X], [Y], [San], [LoaiMoc], [e], [h], [Epsilon], [Alpha], [Delta_X], [Delta_Y], [MaMocN]) VALUES (1, N'N4-1', NULL, 1197462.458, 603550.805, 4, N'MocQT', NULL, 18000, NULL, NULL, NULL, NULL, N'2aaa2ad1-b88d-462b-9389-1d91e7c04832')
INSERT [dbo].[TuyenDo] ([TenTuyen], [DiemDau], [DiemCuoi], [STT], [KhoangCach], [SoMayTram], [ChenhCao], [LoaiMoc], [SSTP], [SHC], [GhiChu], [DanhGia], [MaTD], [MaCK]) VALUES (N'M5->M3', N'M5', N'M3', 4, 34.5, 2, -81.08, N'MocQT', NULL, NULL, NULL, NULL, N'954897ef-20c4-441c-836a-0556cc7d299e', N'7a78d299-34b7-4ca9-ac05-42edd74b5cac')
INSERT [dbo].[TuyenDo] ([TenTuyen], [DiemDau], [DiemCuoi], [STT], [KhoangCach], [SoMayTram], [ChenhCao], [LoaiMoc], [SSTP], [SHC], [GhiChu], [DanhGia], [MaTD], [MaCK]) VALUES (N'M8->CP2', N'M8 ', N'CP2', 6, 20.86, 1, -562.86, N'MocQT', NULL, NULL, NULL, NULL, N'e175a77b-b2dd-42d3-8d64-08a6d9c42e3d', N'20c1e9d4-a573-4fa2-ad15-3d2c68cf9589')
INSERT [dbo].[TuyenDo] ([TenTuyen], [DiemDau], [DiemCuoi], [STT], [KhoangCach], [SoMayTram], [ChenhCao], [LoaiMoc], [SSTP], [SHC], [GhiChu], [DanhGia], [MaTD], [MaCK]) VALUES (N'GPS2->VL04', N'GPS2 ', N'VL04', 4, 275.86, 7, 673.66, N'MocCS', NULL, NULL, NULL, NULL, N'c70ef1a2-c22f-4a97-9e36-0abab9929a44', N'431a53c7-b910-413f-93e4-c24e354356f6')
GO
ALTER TABLE [dbo].[CanhNghieng] ADD  DEFAULT (newid()) FOR [MaCanh]
GO
ALTER TABLE [dbo].[ChuKy] ADD  DEFAULT (newid()) FOR [MaCT]
GO
ALTER TABLE [dbo].[ChuKy] ADD  DEFAULT (newid()) FOR [MaCK]
GO
ALTER TABLE [dbo].[CongTrinh] ADD  DEFAULT (newid()) FOR [MaCT]
GO
ALTER TABLE [dbo].[DiemNghieng] ADD  DEFAULT (newid()) FOR [MaDiem]
GO
ALTER TABLE [dbo].[DinhNghieng] ADD  DEFAULT (newid()) FOR [MaDinh]
GO
ALTER TABLE [dbo].[Moc] ADD  DEFAULT (newid()) FOR [MaMoc]
GO
ALTER TABLE [dbo].[MocNghieng] ADD  DEFAULT (newid()) FOR [MaMocN]
GO
ALTER TABLE [dbo].[TuyenDo] ADD  DEFAULT (newid()) FOR [MaTD]
GO
ALTER TABLE [dbo].[CanhNghieng]  WITH CHECK ADD  CONSTRAINT [FK_ChuKy_CanhNghieng] FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[CanhNghieng] CHECK CONSTRAINT [FK_ChuKy_CanhNghieng]
GO
ALTER TABLE [dbo].[ChuKy]  WITH CHECK ADD  CONSTRAINT [FK_CongTrinh_ChuKy] FOREIGN KEY([MaCT])
REFERENCES [dbo].[CongTrinh] ([MaCT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChuKy] CHECK CONSTRAINT [FK_CongTrinh_ChuKy]
GO
ALTER TABLE [dbo].[DiemNghieng]  WITH CHECK ADD FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[DiemNghieng]  WITH CHECK ADD FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[DinhNghieng]  WITH CHECK ADD  CONSTRAINT [FK_ChuKy_DinhNghieng] FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[DinhNghieng] CHECK CONSTRAINT [FK_ChuKy_DinhNghieng]
GO
ALTER TABLE [dbo].[Moc]  WITH CHECK ADD  CONSTRAINT [FK_ChuKy_Moc] FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[Moc] CHECK CONSTRAINT [FK_ChuKy_Moc]
GO
ALTER TABLE [dbo].[MocNghieng]  WITH CHECK ADD  CONSTRAINT [FK_ChuKy_MocNghieng] FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[MocNghieng] CHECK CONSTRAINT [FK_ChuKy_MocNghieng]
GO
ALTER TABLE [dbo].[TuyenDo]  WITH CHECK ADD  CONSTRAINT [FK__ChuKy__TuyenDo] FOREIGN KEY([MaCK])
REFERENCES [dbo].[ChuKy] ([MaCK])
GO
ALTER TABLE [dbo].[TuyenDo] CHECK CONSTRAINT [FK__ChuKy__TuyenDo]
GO
