.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.ant-layout-content {
  background-color: #fff !important;
  position: absolute;
  margin-left: 300px;
}

.ant-layout{
  background-color: transparent !important;
  width: 270px !important;
  flex-direction: column;
  display: flex;
  margin-top: 0;
  float: left;
}
.ant-layout-sider  {
  background-color: white !important;
  position: absolute;
}
.ant-layout-sider  {
  background-color: white !important;
}
.backgroud {
  background-color: white !important;
}
.vuong{
  height: 180px;
  width: 270px;
}
.ant-btn {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149) !important;
    background-color: #fff !important;
    border-radius: 24px !important;
    color: #3c4043 !important;
    height: 48px !important;
    min-width: 56px !important;
    padding: 5px 100px 0 0 !important;
    position: absolute !important;
    width: 150px;
    margin-left: 65px;
}
.tao{
  margin-top: 100px;
}
.ant-layout-sider-zero-width-trigger {
  display: none ;
}

.ant-menu-item {
  width: 250px !important;
  height: 50px !important;
}
.aaa{
  position: absolute;
  margin-left: 40px;
  line-height: 0.5px;
  margin-top: 16px;
}
.a{
  font-size: 18px;
}
.aa{
  font-size: 12px;
}
.aaaa{
  position: absolute;
  margin-top: 10px;
}
.b{
  font-size: 18px;
  margin-top: 8px;
}
.sider{
  margin-top: 100px;
  width: 300px;
  height: 400px;
  display: block;
}
.but{
  margin-top: 200px;
}
.left{
  width: 300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 256px!important;
  min-width: 256px!important;
  transition-duration: .15s;
  transition-property: background-color,box-shadow;
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  margin-top: 0;
  position: absolute;
  min-height: 1px;
  float: left;
}
.create {
  margin-left: 115px;
  position: absolute;
  font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: 0.25px;
  margin-top: 10px;
}
.ant-menu {
  display: block !important;  
  width: 270px !important;
}
.site-layout-background{
  width: 300px !important;
  margin-left: 400px !important;
  height: 350px !important;
}
.buttop{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149) !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  color: #3c4043 !important;
  height: 35px !important;
  padding: 0 0 0 0 !important;
  position: absolute !important;
  width: 37px !important;
  margin-top: 10px;
  margin-left: 10px;
}
.PG{
  margin-top: 7px;
  margin-left: 8px;
  font-weight: bold;
  position: absolute;

}
.SU{
  margin-left: 45px;
  margin-top: 7px;
  font-weight: bold;
  color: coral;
}

.foo {
  height: 100px;
  margin-left: 300px;
}
.makeStyles-form-2{
  margin-left: 100px;
}

.ND{
  width: 600px;
  height: 600px;
  align-items: center;
  margin-left: 200px;
}
.topmenu{
  width: 270px;
  height: 500px;
}
.allmenu{
  width: 270px;
}
.undermenu{
  height: 150px;
}
.hea{
  height: 185px;
  float: left;
  overflow: hidden;
  width: 100%!important;
  margin-left: 280px;
  border-bottom: 1px solid #e5e5e5;
}
