$left-menu-width: 250px;
.my-app {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;

	.left-menu {
		display: inline-block;
		height: 100%;
		width: $left-menu-width;

		.top-left-menu {
			height: calc(100% - 200px);

			.top-logo {
				height: 50px;
				padding: 8px;
			}
			.top-button {
				height: 90px;
				margin-left: 40px;
				margin-top: 45px;
				width: 160px;
				padding: 10px;
			}
			.menu {
				overflow-x: hidden;
				overflow-y: auto;
				.menu-item {
					color: black;
					width: 250px !important;
				}
			}
		}
		.bottom-left-menu {
			height: 200px;
			margin-top: 25px;
			.footer {
				height: 50px;
				margin: 5px;
				border-top: 1px solid #e5e5e5;
			}
			//position: fixed; c2: default footer 1 cho~
		}
	}
	.main-content {
		display: inline-block;
		width: calc(100% - 250px);
		height: 100%;
		overflow: auto;
	}
}
.ant-menu-item {
	width: 240px !important;
}
.ant-menu {
	width: 250px !important;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td,th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}

.but{
	box-shadow: 0 1px 2px 0 rgba(66, 132, 182, 0.302), 0 1px 3px 1px rgba(89, 162, 218, 0.149) !important;
	background-color: #fff !important;
	border-radius: 24px !important; // border tron
	color: blue !important;
	height: 43px !important;
	width: 135px;
	padding: 5px 90px 0 0 !important;
	position: absolute !important;
}

.MuiSvgIcon-root {
	font-size: 15px !important;
}
.create {
	margin-left: 42px;
	position: absolute;
	font-size: 16px;
	letter-spacing: 0.25px;
	margin-top: 8.5px;
	color: blue;
}
.aaa {
	margin-left: 25px;
	line-height: 0.5px;
	margin-top: 12.5px;
}
.a {
	font-size: 16px;
	color: #282c34;
}
.aa {
	font-size: 10px;
}
.aaaa {
	position: absolute;
	margin-top: 2.5px;
}
.b {
	font-size: 16px;
	color: #282c34;
	padding-top: 7px;
}

.butPG {
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;
	border-radius: 10px !important;
	height: 28px !important;
	position: absolute !important;
	width: 30px !important;
}
.PG {
	margin-top: 2.5px;
	margin-left: 5px;
	font-weight: bold;
	position: absolute;
	color: blue;
	letter-spacing: 1px;
}
.SU {
	position: absolute;
	margin-top: 3.5px;
	margin-left: 36px;
	font-weight: bold;
	color: dimgray;
	letter-spacing: 1px;
}

