.root {
    display: block;
    margin-left: 350px;
    height: 500px;
    width: 800px;
    margin-top: 130px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.14),
                0 3px 2px -2px rgba(0,0,0,0.12),
                0 4px 5px 0 rgba(0,0,0,0.2);
}
.form {
    width: 400px;
    position: absolute;
}
.formItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 500px;
    padding-top: 75px;
}
.icon{
    margin-top: 30px;
    margin-left: 163px;
    position: absolute;

}
.signin{
    margin-top: 85px;
    margin-left: 155px;
    position: absolute;
}
.formItemss {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 500px;
    padding-top: 180px;
}
.img{
    height: 500px;
    width: 400px;
    margin-left: 400px;
    position: absolute;

}
.MuiOutlinedInput-input{
    margin: auto !important;
    max-height: 5px !important;
}
.signup {
    position: absolute;
    margin-top: 30px;
    margin-left: 155px;
}
.back{
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;
    color: darkcyan;
    word-spacing: 1px;
}
.char{
    font-size: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 350px;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    margin-top: 460px;
    margin-left: 420px;
    color: white;
    position: absolute;
}
.ava{
    margin-top: 400px;
    margin-left: 410px;
    position: absolute;
}
.phuc{
    font-size: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 350px;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    margin-top: 420px;
    line-height: 5px;
    margin-left: 465px;
    color: white;
    position: absolute;
}

